subdomain=sub.domain.com
sshuser=user
sshpwd=str@ngP4ssword!
sshaddress=sshgw.domain.com
sshport=1022
myuser=mysqluser
mypwd=c@mplicat3d
myrootuser=root
myrootpwd=v3rySt@nG
pdfpwd=pdfP@ssword

#Moduletogglesforlamp-installer.sh
ENABLE_APACHE=true
ENABLE_MYSQL=true
ENABLE_PHP=true
ENABLE_PHP_TEST_FILE=true
ENABLE_PHPMYADMIN=true
ENABLE_PROMETHEUS_NODE_EXPORTER=true
ENABLE_FAIL2BAN=true
ENABLE_WAZUH_AGENT=false
ENABLE_APACHE_MODULES=true
ENABLE_REMOTEIP=true
ENABLE_APACHE_SECURITY=true
