subdomain	= apidashboard.pekanbaru.go.id
sshuser		= apidashboard
sshpwd 		= Yaixxxxx
sshaddress	= pkgw.pekanbaru.go.id
sshport		= 5036
myuser		= apidashboard
mypwd		= userHu0Ai
myrootuser	= root
myrootpwd	= rootHu0Ai
pdfpwd		= datapku

# Module toggles for lamp-installer.sh
ENABLE_APACHE				= true
ENABLE_MYSQL				= true
ENABLE_PHP					= true
ENABLE_PHP_TEST_FILE		= true
ENABLE_PHPMYADMIN			= true
ENABLE_PROMETHEUS_NODE_EXPORTER	= true
ENABLE_FAIL2BAN			= true
ENABLE_WAZUH_AGENT			= false
ENABLE_APACHE_MODULES		= true
ENABLE_REMOTEIP				= true
ENABLE_APACHE_SECURITY		= true
